In [2]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [4]:
record={
        'firstname':'Nihal',
        'lastname':'Gupta',
        'department':'Analytics',
        'qualification':'BTech',
        'age':27
        }
empinfo.insert_one(record)

In [6]:
records=[{
        'firstname':'Chandan',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'Raj',
        'lastname':'Anand',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [7]:
empinfo.insert_many(records)

In [8]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('603b7ad3e1508d28d03038d9'),
 'firstname': 'Nihal',
 'lastname': 'Gupta',
 'department': 'Analytics',
 'qualification': 'BTech',
 'age': 27}

In [9]:
## Select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('603b7ad3e1508d28d03038d9'), 'firstname': 'Nihal', 'lastname': 'Gupta', 'department': 'Analytics', 'qualification': 'BTech', 'age': 27}
{'_id': ObjectId('603b7b34e1508d28d03038da'), 'firstname': 'Chandan', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('603b7b34e1508d28d03038db'), 'firstname': 'Raj', 'lastname': 'Anand', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('603b7b34e1508d28d03038dc'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('603b7b34e1508d28d03038dd'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [13]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=krish

for record in empinfo.find({'firstname':'Nihal'}):
    print(record)

{'_id': ObjectId('603b7ad3e1508d28d03038d9'), 'firstname': 'Nihal', 'lastname': 'Gupta', 'department': 'Analytics', 'qualification': 'BTech', 'age': 27}

In [14]:
## Query documents using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('603b7b34e1508d28d03038dc'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('603b7b34e1508d28d03038dd'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [15]:
## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('603b7b34e1508d28d03038dd'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [17]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'Nihal'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('603b7ad3e1508d28d03038d9'), 'firstname': 'Nihal', 'lastname': 'Gupta', 'department': 'Analytics', 'qualification': 'BTech', 'age': 27}